*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family:sans-serif;
    color:#a0a0a0;
    line-height:1.6;
}

.main-container{
    display:grid;
    max-width:1200px;
    grid-template-columns: 300px 1fr;
    gap:40px;
    padding-top: 40px;
    margin: auto;
}

.siderbar{
    height:90vh;
    background-color:#2a2a2a;
    border:1px solid #3a3a3a;
    border-radius: 16px;
    padding:30px;
}

.main-content {
    /* height:90vh; */
    background-color:#2a2a2a;
    border:1px solid #3a3a3a;
    border-radius: 16px;
    padding:40px;
}

/* Profile section */
.profile{
    text-align: center;

}
.profile img{
    width:120px;
    height:120px;
    border-radius: 50%;
    border:1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.3rem;
    font-weight:700;
    margin-top: 5px;
    color: #e0e0e0;
}

.profile p{
    background-color: #1e1e1e;
    padding:5px 15px;
    color:#ffbf00;
    border:1px solid #3a3a3a;
    font-size:0.8rem;
    border-radius:8px;
    display:inline-block;
    margin-top:2px;
    
}

/* Contact Section */
.contact{
    margin-top: 30px;
    /* border: 1px solid #1e1e1e; */
    padding-top: 20px;
    border-top: 2px solid #3a3a3a;
}

.label{
    font-weight:50px;
    font-size: 0.8rem;
    color:#a0a0a0;
}
.value{
    text-decoration: none;
    color:#e0e0e0;
}

.email, .phone{
    margin-bottom:10px;
}

.social{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    height:15px;
    width:15px;
    margin-left: 5px;
    filter:grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter:grayscale(0) invert(0);
}

/* main content */
/* Navigation */

#navigation{
    padding:20px 40px;
    border-bottom: 2px solid #3a3a3a
}

nav{
    display:flex;
    justify-content: flex-end;
    gap:20px;
}
nav a{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
    /* margin-bottom:10px; */
    /* padding-bottom:20px; */

}

.active,nav a:hover{
    color:#ffbf00;
}

/* about */
.heading{
    color:#e0e0e0;
    font-size:2rem;
    margin-bottom:2px;
}

.line{
    width:90px;
    height:5px;
    background-color: #ffbf00;
    margin-bottom: 2px;
}

.content{
    text-align: justify; 
}

#about{
    margin-bottom: 30px;
}

/* Grid sectiom */
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap:20px;
}
.item{
    padding:10px;
    border-radius: 10px;
    border:2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin: 10px;
}
.item img{
    height:20px;
    width: 20px;
    filter:invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness;
    margin-bottom: 10px;
}
.item h3{
    font-size: 1rem;
}